* {
  font-family:"BariolRegularFont", sans-serif;
  transition: transform 1.13s;
}

.shadowSpan span {
  text-shadow: 2px 2px 8px #fff;
}

body {
  justify-content: center;
  align-items: center;
  background: #000;
  display: flex;
  height: 100vh;
  padding: 0;
  margin: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/*Optimised Classes*/
.resizeContent {
  width: 400px; 
  margin-left: auto; 
  margin-right: auto;
}

.hoverScale:hover { 
    transform: scale(1.15);
}
/*End of optimised classes*/

#falling-js {
  background-color: black;
  position: absolute;
}

#container {
	color: white;
	position: relative;
}

#container h1 {
	font-size: 80px;
}

#container h2 {
	font-size: 60px; 
  text-align: center;
  text-decoration: underline;
}

#container iframe {
	width: 100%;
  height: 100%;
  border: none;
}

@font-face {
  font-family: "BariolRegularFont";
  src: url("fonts/bariol_regular-webfont.eot");
  src: url("fonts/bariol_regular-webfont.woff") format("woff"),
  url("fonts/bariol_regular-webfont.otf") format("opentype"),
  url("fonts/bariol_regular-webfont.svg#filename") format("svg");
}