@import url('https://fonts.googleapis.com/css?family=Montserrat:100');

* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: absolute;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
  margin: auto auto;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

#progress-value {
  animation: load 1.20s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

main {
  margin: auto auto;
  width: 500px;
  position: relative;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}

#header {
  background: transparent;
  padding: 2rem;
}

#header img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

#body {
  background: #262626E6;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  color: #fff;
  padding: 35px 50px 25px 50px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: transform 0.8s;
}

.button {
  display: flex;
  justify-content: space-between
}

.button a {
  width: 100%
}

#content a {
  align-items: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: white;
  margin: 0px 7px;
  padding: 1rem;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 25px;
  vertical-align: center;
  background-color: #262626;
  background-image: linear-gradient(145deg, #FFA211 0%, #FF7F18 100%);
  transition: color .05s, background-color .2s, background-image .2s, top .2s, left .2s, height .2s, opacity .2s, margin .2s;
  opacity: 0.9
}

#tos {
  color: #FFB644;
  fill: #FFB644;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#content a:hover {
  opacity: 1
}

#content a.discord {
  background-image: linear-gradient(145deg, #7289DA 0%, #7289DA 100%);
}

.button a svg {
  fill: white;
  color: white;
  width: 1.3rem;
  margin-right: 0.4rem;
}

#tos a {
  opacity: 0.7;
  transition: color .05s, background-color .2s, background-image .2s, top .2s, left .2s, height .2s, opacity .2s, margin .2s;
}

#tos a:hover {
  opacity: 1
}

#body{
  animation: zoom 1.40s;
}

@keyframes zoom {
  0%   { transform:scale(0.2) rotate(0deg); filter: blur(75px); }
  100% { transform:scale(1.0) rotate(360deg); filter: blur(0px); }
}

@keyframes load {
  0% { width: 0; }
  100% { width: 100%;}
}


#background {
  background: url("/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}



.rainbow {
  background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
  text-align: center;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 16s ease infinite;
}

@keyframes rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 25%}
    100%{background-position:0% 50%}
}
