body {
    font-family: Consolas, serif;
    margin: 50px 10px;
    background: black;
    color: white;
}

a {
    color: lime;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 2px;
    padding: 2px;
}

.light {
    background: #111;
}
