@media (min-width: 550px) {
    body > div#container {
        width: 350px;
    }
}


@media (max-width: 550px) {
    body > div#container {
        width: 70%;
        margin: 0 10px; /* left~right = 10px */
    }
}
